.nav {
  &__container {
    margin: 0 auto;
    color: antiquewhite;
    background-image: url('https://media.istockphoto.com/id/932207876/ru/%D1%84%D0%BE%D1%82%D0%BE/%D0%BD%D0%B0%D0%B1%D0%BE%D1%80-%D0%B7%D0%B0%D0%B1%D1%80%D0%B0%D1%82%D1%8C-%D0%BA%D0%BE%D1%80%D0%BE%D0%B1%D0%BA%D0%B8-%D1%81-%D0%B5%D0%B4%D0%BE%D0%B9-%D0%BD%D0%B0-%D0%B1%D0%B5%D0%BB%D0%BE%D0%BC-%D1%84%D0%BE%D0%BD%D0%B5.jpg?s=1024x1024&w=is&k=20&c=hrQbx1uZBhJMTH0UQnQznwOty51GHrYXZvyqJsZtq90=');
    padding: 20px;
    box-shadow: 0 4px 10px rgba($color: #000000, $alpha: 0.4);
    max-width: 1000px;
    margin-top: 10px;
    // border-bottom-right-radius: 20px;
    // border-bottom-left-radius: 20px;
    border-radius: 12px;
  }
  &__ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
  }
}

a {
  text-decoration: none;
  color: white;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 5px;
  transition: all 0.4s ease-in-out;
}

a:hover {
  border: 2px solid tomato;
}

li a.active_link {
  color: lawngreen;
}
